@(message: String,list: List[Cocktail],list2: List[Cocktail])

<div id="content" class="wrapper doc">
    @message
</div>
<div id="content" class="wrapper doc">
    <table>

    @for(cocktail <- list) {
        <tr>
            <td>@cocktail.title </td>
            <td> @cocktail.description</td>
            <td><a href="choose/@cocktail.id">Choose</a></td>
        </tr>
    }
        @for(cocktail <- list2) {
            <tr>
                <td>@cocktail.title </td>
                <td> @cocktail.description</td>
            </tr>
        }
    </table>
</div>
